<h1>Participants</h1>
<mat-list class="container" fxLayout="row wrap" fxLayoutAlign="center none" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="1vmax">
  <mat-list-item class="item" fxFlex="30" *ngFor="let user of users">
    <img matListAvatar src="../assets/Images/{{user.title}}" alt="">
    <p matLine id="name">{{user.name}}</p>
    <p matLine id="college">{{user.college}}</p>
    <p matLine id="phone"><i class="fa fa-phone" aria-hidden="true"></i> {{user.phone}}</p>
    <p matLine id="submission">Submission: <a href="#">{{user.submission}}</a></p>
  </mat-list-item>
</mat-list>